# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/

# APK / outputs
*.apk
*.aab

# IDE
.idea/
.vscode/

# Misc
*.log